:host {
  position: fixed;
  inset: 0;
  z-index: 0;
  display: block;
}

.bg-root {
  position: fixed;
  inset: 0;
  width: 200vw;
  height: 200vh;
  overflow: hidden;
  user-select: none;
  will-change: transform;
  transform-origin: center;
  pointer-events: none;
}

.bg-root.is-interactive {
  pointer-events: auto;
  cursor: grab;
}

.bg-tile {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(-15px -15px 10px rgb(75 68 49));
  will-change: transform;
}

[appPanDrag] .bg-inner {
  transform-origin: center;
  transition: transform 150ms ease;
  will-change: transform;
}

[appPanDrag]:active .bg-inner {
  transform: scale(0.9);
}

@media (width <= 1024px) {
  .bg-tile {
    filter: drop-shadow(-10px -10px 5px rgb(75 68 49));
  }
}

:host(.is-safari) .bg-root {
  width: 140vw;
  height: 140vh;
}

:host(.is-safari) .bg-tile {
  filter: none;
  will-change: auto;
}
