app-navbar,
app-footer {
  z-index: 100;
}

#content-wrapper {
  flex: 1 0 auto;
}

#content-wrapper.has-fixed-footer {
  padding-bottom: 140px;
}

#content-wrapper.has-inline-footer {
  min-height: calc(100vh - 80px);
}
