.page-center {
  min-height: 100vh;
  display: flex;
  align-items: center; // vertikal zentriert
  justify-content: center; // horizontal zentriert
  pointer-events: none;
}

.page-center h1 {
  margin: 0;
  font-size: 4rem;
  mix-blend-mode: difference;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .page-center {
    padding: 0 14px;
    text-align: center;
  }

  .page-center h1 {
    font-size: 2.6rem;
  }
}
